NODE_ENV=development
GATE_AR_URL=https://gate.ar
GATE_AR_FALLBACK_URLS=https://arweave.net,https://g8way.io
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://user:password@localhost:5432/phin

